<a-scene *ngIf="loaded" physics="debug: true">

  <a-assets>
    <img id="ice1" src="../assets/imgs/ice1.jpg">
    <img id="sky" src="../assets/imgs/sky3.jpg">
    <img id="tile1" src="../assets/imgs/tile1.png">
    <img id="tile1-nrm" src="../assets/imgs/tile1-nrm.png">
    <img id="stone1" src="../assets/imgs/stone1.png">
    <img id="stone1-nrm" src="../assets/imgs/stone1-nrm.png">
    <img id="granite-cliff" src="../assets/imgs/granite-cliff.png">
    <img id="granite-cliff-nrm" src="../assets/imgs/granite-cliff-nrm.png">
  </a-assets>

  <a-sky src="#sky" rotation="0 64 0">
  </a-sky>

  <a-entity obj-model="obj: #mansion-o; mtl: #mansion-m" position="-10 0 -130" scale="1 1 1">
  </a-entity>

  <a-camera #camera>
    <a-entity
    #cursor
    cursor="fuse: true"
    position="0 0 -1"
    geometry="primitive: sphere; radius: 0.005"
    material="color: #000000; shader: flat; opactity: 0.5">
    </a-entity>
  </a-camera>

  <a-plane material="
  color: #FFFFFF;
  src: #tile1;
  repeat: 500 500;
  normal-map: #tile1-nrm;
  normal-texture-repeat: 500 500" rotation="-90 0 0" scale="1000 1000 1"></a-plane>

  <a-box 
  #floatBox
  src="#granite-cliff" 
  repeat="1 1" 
  normal-map="#granite-cliff-nrm" 
  normal-texture-repeat="1 1"
  position="-1 0.5 -3" 
  rotation="0 45 0"
  (click)="boxMouseDown($event)"></a-box>
  
</a-scene>